@import url(./normalize.css);
@import url(./fonts/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/main/main.css);

@import url(./blocks/to-do/to-do.css);
@import url(./blocks/to-do/title/to-do__title.css);
@import url(./blocks/to-do/form/to-do__form.css);
@import url(./blocks/to-do/input/to-do__input.css);
@import url(./blocks/to-do/submit/to-do__submit.css);
@import url(./blocks/to-do/list/to-do__list.css);
@import url(./blocks/to-do/item/to-do__item.css);
@import url(./blocks/to-do/item-text/to-do__item-text.css);
@import url(./blocks/to-do/item-button/to-do__item-button.css);
@import url(./blocks/to-do/item-button/type/to-do__item-button_type_delete.css);
@import url(./blocks/to-do/item-button/type/to-do__item-button_type_duplicate.css);
@import url(./blocks/to-do/item-button/type/to-do__item-button_type_edit.css);

@import url(./blocks/footer/footer.css);
